#menu a{
color: #2c2fa9;
font:bold 13px verdana, sans-serif;
margin:5px 0 5px 0;
padding:1px 3px 1px 4px;
text-decoration:none;
background: #ccffff;
display:block;
border-top:1px solid transparent;
border-right:1px solid #837c6b;
border-bottom:1px solid #837c6b;
border-left:1px solid transparent;
width: 220px;}

#menu a:hover{
color: #2c2fa9;
background: #ccffff;
border-top:1px solid #99917d;
border-right:1px solid transparent;
border-bottom:1px solid transparent;
border-left:1px solid #99917d;
}

#menu a .dot{
color: blue;
background:transparent;
font-weight:bold;
font-size:14px;}

#menu a:hover .dot{
color: cyan;
background:transparent;
font-weight:bold;
font-size:14px;}

.liste{
list-style-type: none;
margin:0px;
padding:0px;}

